*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}

body{
	font-family: montserrat;
}
nav{
	height: 80px;
	width: 100%;
	background: #34495e;
}

label.logo{
	font-size: 35px;
	font-weight: bold;
	color: white;
	padding: 0 100px;
	line-height: 80px;
}

nav ul{
	float: right;
	margin-right: 40px;
}

nav li{
	display: inline-block;
	margin: 0 8px;
	line-height: 80px;
}
nav input[type="submit"]{
	background: transparent;
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	border: 1px transparent;
	padding: 7px 10px;
	border-radius: 3px; 
}
input[type="submit"].active,input[type="submit"]:hover{
	transition: .5s;
	border: 1px solid white;
}

nav #icon{
	color: white;
	font-size: 30px;
	line-height: 80px;
	float: right;
	margin-right: 40px;
	cursor: pointer;
}
@media (max-width: 1048px){
	label.logo{
		font-size: 32px;
		padding-left: 60px;
	}
nav input[type="submit"]{
	font-size: 17px;
	}
}
@media (max-width: 909px){
	nav #icon{
		display: block;
	}
	nav ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2f3640;
		top: 80px;
		left: -100;
		text-align: center;
		transform: all .5s;
	}

nav li{
	display: block;
	margin: 50px 0;
	line-height: 30px;
}

nav input[type="submit"]{
	font-size: 20px;
}

input[type="submit"].active,input[type="submit"]:hover{
	border: 1px solid white;
	color: #3498db;
}

nav ul.show{
	left: 0;
}
}
section{
	background: url(login.jpg) no-repeat;
	background-size: cover;
	height: calc(100vh - 80px)
}
